#myButton {
    margin-top: 10px;
}
#signInContainer {
    margin-top: 50px;
    width: 70%;
    background-color: rgba(251,232,166,0.3);
    padding: 20px;
    box-shadow: 5px 5px 5px grey;
}
#forgot {
    margin-top: 25px;
}
.noOutline {
    border: none!important;
    background-color: transparent!important;
    color: #007bff!important;
    padding: 0 0 3px 0!important;
    text-decoration: underline;
  }