#homeContainer {
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 100vw;
    width: 100vw;
}
.heading {
    width: 50%;
    padding-top: 40px;
}
#tabsContainer {
    margin-top: 50px;
}

#tabsContainer a {
    color: black!important;
}